extends layout

block content
	h1 Crear nuevo Negocio
	form(action="/negocios/nuevo" method="post")
		input(type="text" name="cliente" id="cliente" placeholder="Cliente " required class="form-input")
		br
		input(type="text" name="nombre" id="nombre" placeholder="Nombre del Negocio" required class="form-input")
		br
		input(type="text" name="pais" id="pais" placeholder="Pais " required class="form-input")
		br
		input(type="text" name="direccion" id="direccion" placeholder="Dirección" required class="form-input")
		br
		input(type="text" name="postal" id="postal" placeholder="Código Postal" required class="form-input")
		br
		input(type="text" name="ciudad" id="ciudad" placeholder="Ciudad" required class="form-input")
		br
		input(type="text" name="provincia" id="provincia" placeholder="Provincia" required class="form-input")
		br
		input(type="text" name="tlf" id="tlf" placeholder="Teléfono " required class="form-input")
		br
		input(type="text" name="sector" id="sector" placeholder="Sector / Categoría " required class="form-input")
		br
		input(type="text" name="web" id="web" placeholder="Introduce una URL" required class="form-input")
		br
		label(for="renovacion") Seleccionar Renovación:
		select#renovacion(name='renovacion')
			option(value='1', selected= true) Mensual
			option(value='3') Trimestral
			option(value='6') Semestral
			option(value='12') Anual

		//label(for="horainicio") Hora Apertura:
		//input(type="number" id="horainicio" min="1" max="23" name="horario" placeholder="8" required class="form-input")
		//label(for="minutoinicio")
		//input(type="number" id="minutoinicio" step="5" min="0" max="55" name="horario" placeholder="30" required class="form-input")
		//br
		//label(for="horacierre") Hora Cierre:
		//input(type="number" id="horacierre" min="1" max="23" name="horario" placeholder="8" required class="form-input")
		//label(for="minutocierre")
		//input(type="number" id="minutocierre" step="5" min="0" max="55" name="horario" placeholder="30" required class="form-input")
		//input(type="hidden" name="tipo" id="tipo" value="cliente" class="form-input")
		//br
		//label(for='facebook') Facebook
		//input(type='checkbox' name='redes' id='facebook' value='facebook')
		//label(for='twitter') Twitter
		//input(type='checkbox' name='redes' id='twitter' value='twitter')
		//label(for='instagram') Instagram
		//input(type='checkbox' name='redes' id='instagram' value='instagram')
		//label(for='youtube') YouTube
		//input(type='checkbox' name='redes' id='youtube' value='youtube')
		//br
		//label(for='frases') Frases Clave
		//br
		//textarea(name='frases' id='frases' rows='4' cols='50' placeholder='mi frase 1,\nmi frase 2,\nmi frase 3,\n...')
		//br
		//input(type='file' name='fotos' id='fotos' multiple accept=".jpg, .jpeg, .png")
		br
		input(type="submit" value="Agregar Nuevo Negocio")
